extends base.pug

block content
  nav
    ul
      li
        a(href="/") Home
  if errorMessage
    span= errorMessage
  form(method="POST") 
    input(name="username", placeholder="Username", type="text", required)
    input(name="password", placeholder="Password", type="password", required)
    input(type="submit", value="Login")
    br
    a(href="/users/github/start") Continue with Github &rarr;
  hr
  div
    span 계정이 없으십니까?
    br
    a(href="/join") 회원가입 &rarr;
