extends base.pug
include mixins/video

block content
  nav
    ul
      li
        a(href="/") Home
  form(method="GET")
    input(name="keyword", placeholder="Search by title", type="text")
    input(type="submit", value="Search now")

  div
    each video in videos
      +video(video)
